<div class="panel panel-success">
    <div class="panel-heading clearfix">
        <!--<i class="fa fa-close" ng-click="visible = !visible"></i>-->
        <h5 class="panel-title"><i class="fa fa-fw fa-filter"></i> Map Filters</h5>
    </div>
    <div class="panel-body">
        <div class="padding-vertical-half">
            <button type="button"
                    ng-click="type.selected = !type.selected"
                    ng-class="{'active': type.selected}"
                    class="btn btn-sm btn-danger btn-filter"
                    ng-repeat="type in landUseType"
                    blur>
                {{ type.label }}
            </button>
        </div>
        <div class="padding-vertical-half">
            <button class="btn btn-sm btn-primary btn-filter"
                    ng-click="toggleAllOptions('years')"
                    ng-class="{'active': allOptionsAreSelected('years')}"
                    blur>
                <i class="fa fa-fw fa-square-o" ng-show="!allOptionsAreSelected('years')"></i>
                <i class="fa fa-fw fa-check-square-o" ng-show="allOptionsAreSelected('years')"></i>
            </button>
            <button class="btn btn-sm btn-primary btn-filter"
                    ng-class="{'active': year.selected}"
                    ng-repeat="year in years"
                    ng-click="year.selected = !year.selected"
                    blur>{{ year.label }}
            </button>
        </div>
        <div class="padding-vertical-half">
            <button type="button"
                    ng-click="intensityLevel.selected = !intensityLevel.selected"
                    ng-class="{'active': intensityLevel.selected}"
                    class="btn btn-sm btn-warning btn-filter"
                    ng-repeat="intensityLevel in intensity"
                    blur>
                {{ intensityLevel.label }}
            </button>
        </div>
        <div class="padding-vertical-half">
            <button type="button"
                    ng-click="waterUseType.selected = !waterUseType.selected"
                    ng-class="{'active': waterUseType.selected}"
                    class="btn btn-sm btn-info btn-filter"
                    ng-repeat="waterUseType in water"
                    blur>
                {{ waterUseType.label }}
            </button>
        </div>
        <div class="padding-vertical-half">
            <button class="btn btn-sm btn-success btn-filter"
                    ng-class="{'active': allOptionsAreSelected('crops')}"
                    ng-click="toggleAllOptions('crops')"
                    blur>
                <i class="fa fa-fw fa-square-o" ng-show="!allOptionsAreSelected('crops')"></i>
                <i class="fa fa-fw fa-check-square-o" ng-show="allOptionsAreSelected('crops')"></i>
            </button>
            <button class="btn btn-sm btn-success btn-filter"
                    ng-class="{'active': crop.selected}"
                    ng-repeat="crop in crops"
                    ng-click="crop.selected = !crop.selected"
                    blur>{{ crop.label }}
            </button>
        </div>

    </div>
    <div class="panel-footer" style="text-align: right">
        <small style="margin-right: 20px;">Total: {{ countAll | number }} &nbsp;
            Filtered: {{ countFiltered | number }}
            <i class="fa fa-exclamation-triangle"
               ng-show="filteredRecords > filteredMarkers"
               data-title="Max of 10,000"
               data-placement="left"
               bs-tooltip></i></small>
        <button class="btn btn-default btn-sm" ng-click="reset()" blur>Reset</button>
        <button class="btn btn-primary btn-sm" ng-click="apply()" blur>Apply</button>
    </div>
</div>
<!--</div>-->