<div class="control" id="layers">
    <div class="panel panel-success">
        <div class="panel-heading">
            <i class="fa fa-close"
               ng-click="$parent.tableOfContentsVisible = !$parent.tableOfContentsVisible"
                    ></i>
            <h5 class="panel-title"><i class="fa fa-fw fa-database"></i> Map Layers
            </h5>
        </div>
        <div class="panel-body">
            <h5 ng-click="expandBackgroundLayers=!expandBackgroundLayers">
                Background Layers
                <i class="fa fa-fw"
                   ng-class="{'fa-caret-down': expandBackgroundLayers, 'fa-caret-right': !expandBackgroundLayers  }">
                </i>
            </h5>

            <div ng-if="expandBackgroundLayers" class="padding-left">
                <div class="radio" ng-repeat="(key, layer) in layers.baselayers">
                    <label>
                        <input type="radio" name="backgroundRadios"
                               ng-checked="layer.visible"
                               ng-click="changeBaseLayer(key)">
                        {{ layer.name }}
                    </label>
                </div>
            </div>
            <h5 ng-click="expandProductLayers=!expandProductLayers">
                Our Products
                <i class="fa fa-fw"
                   ng-class="{'fa-caret-down': expandProductLayers, 'fa-caret-right': !expandProductLayers  }">
                </i>
            </h5>

            <div ng-if="expandProductLayers" class="padding-left">
                <div table-of-contents-layer
                     layer="layers.overlays.Global_1000m_L4_v20120101"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.Global_1000m_L3_v20150101"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.SouthAsia_250m_L4_v20151201"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.UnitedStates_250m_L5_v20160101"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.SouthAmerica_30m_L1_v20160101"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.Australia_30m_L1_v20160601"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.Australia_250m_L3_v20160701"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.Africa_30m_L1_v20160401"></div>
                <div table-of-contents-layer
                     layer="layers.overlays.Africa_250m_L2_v20160601"></div>
            </div>
        </div>
    </div>
</div>
</div>
