<div class="checkbox">
    <div class="checkbox-wrapper">
        <input type="checkbox" ng-model="layer.visible"/>
        <label ng-click="showMore=!showMore">
            {{ layer.name}}
            <i class="fa fa-fw"
               ng-show="canShowMore()"
               ng-class="{'fa-caret-down': showMore, 'fa-caret-right': !showMore  }">
            </i>
        </label>
    </div>
</div>
<div ng-show="showMore" class="padding-left">

    <legend items="layer.legend" ng-if="layer.legend.length"></legend>

    <div class="padding">
        <button class="btn btn-sm btn-default"
                ng-class="{'btn-success': layer.params.options.year===year}"
                ng-repeat="year in layer.years" ng-click="layer.params.options.year=year" blur>
            {{year}}
        </button>
    </div>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">
                Opacity
            </label>

            <div class="col-sm-8">
                <input type="range"
                       ng-model="layer.params.options.opacity"
                       max="1"
                       min="0"
                       step=".01"/>
            </div>
            <label class="col-sm-2 control-label">
                {{ layer.params.options.opacity}}
            </label>
        </div>
    </form>

    <div class="small" ng-bind-html="layer.attribution | unsafe"></div>

</div>

