<div class="container container-static-nav">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="well well-sm account-form">
                <form name="loginForm">
                    <div class="form-group hidden">
                        <button class="btn btn-google">
                            <icon class="fa fa-fw fa-google fa-border-right"></icon>
                            Google
                        </button>
                        <button class="btn btn-facebook">
                            <icon class="fa fa-fw fa-facebook fa-border-right"></icon>
                            Facebook
                        </button>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input class="form-control" id="email" name="email" type="email"
                               ng-model="email"
                               placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" name="password"
                               type="password"
                               ng-model="password"
                               ng-minlength="8"
                               placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-block btn-default btn-success"
                                ng-class="{'disabled': busy || !loginForm.$valid}"
                                ng-click="login(loginForm.$valid)" blur>
                            <i class="fa fa-spinner fa-fw" ng-show="busy"></i>
                            Login
                        </button>
                    </div>
                    <div class="alert"
                         ng-show="message.length"
                         ng-class="{'alert-success': success, 'alert-danger': !success}">
                        {{ message }}
                    </div>
                </form>
                <a class="btn btn-sm btn-default btn-default" href="/app/a/forgot">
                    Forgot
                </a>
                <a class="btn btn-sm btn-default btn-default" href="/app/a/register">
                    Register
                </a>
            </div>
        </div>
    </div>
</div>