<div class="container container-static-nav">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            <div class="well well-sm account-form">
                <form name="registrationForm">
                    <div class="row" ng-hide="success">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="first">First Name</label>
                                <input class="form-control" id="first" name="first" type="text"
                                       ng-model="registration.first"
                                       placeholder="First Name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="last">Last Name</label>
                                <input class="form-control" id="last" name="last" type="text"
                                       ng-model="registration.last"
                                       placeholder="Last Name"
                                       required>
                            </div>
                            <div class="form-group">
                                <label for="organization">Organization <span class="small">(Optional)</span></label>
                                <input class="form-control" id="organization" name="organization"
                                       type="text"
                                       ng-model="registration.organization"
                                       placeholder="Organization"
                                        >
                            </div>
                            <div class="form-group">
                                <label for="country">Country <span
                                        class="small">(Optional)</span></label>
                                <select id="country" class="form-control"
                                        ng-options="c for c in countries"
                                        ng-model="registration.country"></select>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input class="form-control" id="email" name="email" type="email"
                                       ng-model="registration.email"
                                       placeholder="Email"
                                       required>
                            </div>
                            <div data-password-confirm data-valid="registration.passwordValid"
                                 data-min-entropy="10"
                                 data-password="registration.password">
                            </div>
                            <p ng-class="registrationForm.email.$valid ? 'text-success' : 'text-danger'">
                                <icon class="fa fa-fw"
                                      ng-class="registrationForm.email.$valid ? 'fa-check' : 'fa-times'"></icon>
                                Valid email address.
                            </p>
                        </div>
                    </div>

                    <div class="form-group" ng-hide="success">
                        <button class="btn btn-block btn-default btn-success"
                                ng-class="{'disabled': !registration.passwordValid || !registrationForm.$valid || busy}"
                                ng-click="register()" blur><i class="fa fa-spinner fa-fw"
                                                              ng-show="busy"></i> Register
                        </button>
                    </div>

                    <div class="alert"
                         ng-show="message.length"
                         ng-class="{'alert-success': success, 'alert-danger': !success}">
                        {{ message }}
                    </div>
                    <div ng-hide="success">
                        <a class="btn btn-sm btn-default btn-default" href="/app/a/forgot">
                            Forgot
                        </a>
                        <a class="btn btn-sm btn-default btn-default" href="/app/a/login">
                            Login
                        </a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>