<style>
    .leaflet-control-zoom {
        visibility: visible;
    }
</style>
<div class="container-fluid container-static-nav">
    <div class="row" style="padding-top: 2%">
        <div class="col-sm-3 col-xl-2 col-xl-offset-1">
            <div class="well well-sm">
                <h3 style="text-align: center;margin: 10px 0;">Instructions</h3>

                <p>Select the class that matches the box within the image. If no clear selection is possible, please
                    select unknown.</p>

                <h3 style="text-align: center;margin: 10px 0;">About</h3>

                <p>Your contribution helps to validate important remote sensing products. All of the data collected will
                    be made available to the public.</p>

                <a class="btn btn-danger btn-block" href="http://public.croplands.org/json/classifications.json"
                   target="_blank">Download JSON</a>
                <a class="btn btn-danger btn-block" href="http://public.croplands.org/csv/classifications.csv"
                   target="_blank">Download CSV</a>

            </div>
        </div>

        <div class="col-sm-2 col-xl-1">
            <div class="thumbnail">
                <leaflet style="height: 200px; width:100%;"
                         layers="layers"
                         center="center"
                         markers="markers">
                </leaflet>
                <leaflet id="map2" style="height: 200px; width:100%; margin-top: 5px;"
                         layers="layers"
                         center="center_wide">
                </leaflet>
            </div>
        </div>
        <div class="col-sm-4 col-xl-3">
            <div style="width: 100%;" class="thumbnail">
                <img style="width: 100%;" ng-src="http://images.croplands.org/{{ image.url }}"/>
            </div>
        </div>
        <div class="col-sm-3 col-xl-2">
            <div class="well well-sm">
                <h3 style="text-align: center;margin: 10px 0;">Pick Class</h3>
                <button class="btn btn-primary btn-block"
                        style="padding: 10px 4px;"
                        ng-click="classify($index)"
                        ng-repeat="type in buttons" blur>{{ type.label }}
                </button>
                <button class="btn btn-default btn-block"
                        style="padding: 10px 4px;"
                        ng-click="skip()"
                        blur>Skip
                </button>
            </div>
        </div>
    </div>
</div>